body {
    background-color: rgb(131, 5, 5);
    font-family: "Pirata One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button {
    background-color: rgb(252, 224, 103);
    font-family: "Pirata One", system-ui;
}

.passo {
    display: none;
}

.passo-ativo {
    display: block;
}

.main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}